$white : white;

footer {
  background-color:#001527;
  color: $white;
  div {
    padding-bottom: 10px;
    margin: 10px auto 0 auto;
  }
}

.footer {
  width: 90%;
  padding-top: 20px; 
}

.footer-center {
  text-align: center;
}

i {
  font-size: 25px;
  margin: 0px 15px 0px 15px;
  // &:hover {
  //   color: darkred;
  //   transition: 0.3s;
  // }
}

.fa-facebook-f:hover {
  color: #3b5998;
  transition: 0.3s;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.3s;
}

.fa-instagram:hover {
  color: #c13584;
  transition: 0.3s;
}

.fa-youtube:hover {
  color: #ff0000;
  transition: 0.3s;
}

.fa-whatsapp:hover {
  color: #34aa1d;
  transition: 0.3s;
}

.fa-envelope:hover {
  color: #ec2a19cc;
  transition: 0.3s;
}


.fa-heart {
  font-size: 1em;
  color: red;
  margin: 5px;
}

hr {
  background-color: $white;
  width: 95%;
  margin: 20px auto 0 auto;
}
