<div class="container">
  <form [formGroup]="myForm">
    <i class="fas fa-clipboard-list fa-3x"></i>
    <h2>Add Product</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="myForm.value.productCode" placeholder="Product Code" formControlName="productCode">
      <mat-error *ngIf="productCode.invalid && productCode.touched" class="has-text-danger">
          Product code field can't be empty
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="myForm.value.productName" placeholder="Product Name" formControlName="productName">
      <mat-error *ngIf="productName.invalid && productName.touched" class="has-text-danger">
          Product name field can't be empty
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="myForm.value.price" placeholder="Price(&euro;)" formControlName="price">
      <mat-error *ngIf="price.invalid && price.touched" class="has-text-danger">
          Product price field can't be empty
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="myForm.value.quantity" placeholder="Quantity" formControlName="quantity">
        <mat-error *ngIf="quantity.invalid && quantity.touched" class="has-text-danger">
            Product quantity field can't be empty
        </mat-error>
      </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="myForm.value.description" placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="description.invalid && description.touched" class="has-text-danger">
          Product descreption field can't be empty
      </mat-error>
    </mat-form-field>
    <div id="tfo">
      <mat-checkbox formControlName="agree" color="primary">Are you sure?</mat-checkbox>
    </div>
    <hr>
    <div id="button">
      <button mat-raised-button [disabled]="myForm.invalid" color="primary" (click)="createProduct()">Add Product</button>
    </div>
  </form>
</div>
