.container {
  width: 40%;
  margin: 50px auto 50px auto;
}

.card-body {
  p, div {
    margin: 20px;
  }
}

span {
  padding: 10px 10px 10px 0px;
}


#button {
  margin-top: 50px;
  button{
    margin: auto;
  }
}

.custom-file {
  width: 93%;
}

#upload {
  width: 92.5%; 
  margin-top: -10px; 
  margin-bottom: 50px
}