$main-color: #001527;
$white: white;

nav  {
  background-color: $main-color;
  a img {
    width: 150px;
  }

  div {
    justify-content: flex-end;
    ul li a {
      color: $white;
      border: 1px solid $main-color;
      &:hover {
        border: 1px solid $white;
        border-radius: 10px;
        transition: 0.4s;
      }
    }
  }
}