<div class="card bg-light text-dark" *ngIf="!editStatus">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <img src={{product.image}} alt="The product image">
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <div id="details">
          <h1>{{product.productName}}</h1>
          <div><i class="fas fa-barcode fa-fw"></i><b><span>Product Code: </span></b>{{product.productCode}}</div>
          <div><i class="fas fa-tags fa-fw"></i><b><span>Price:  </span></b>{{product.price}}&euro;</div>
          <div><i class="fas fa-warehouse fa-fw"></i><b><span>Quantity in stock: </span></b>{{product.quantity}}</div>
          <div><i class="fas fa-book-open"></i><b><span>Description: </span></b>{{product.description}}</div>
          <div id="buttons">
            <button type="button" class="btn btn-success d-block w-100"><i style="color: white" class="fas fa-shopping-cart"></i> Add to cart</button>
            <button type="button" class="btn btn-primary d-block w-100" (click)="edit()" ><i style="color: white" class="far fa-edit"></i> Edit product</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card bg-light text-dark" *ngIf="editStatus">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <img src={{product.image}} alt="The product image">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
          <div id="details">
            <div><b><span>Product Code: </span></b><input  [(ngModel)]="product.productCode" type="text" class="form-control" placeholder="Type to edit..."  disabled/></div>
            <div><b><span>Product Name: </span></b><input [(ngModel)]="product.productName" type="text" class="form-control" placeholder="Type to edit..."  /></div>
            <div><b><span>Price(&euro;):  </span></b><input [(ngModel)]="product.price" type="text" class="form-control" placeholder="Type to edit..."  /></div>
            <div><b><span>Quantity in stock: </span></b><input [(ngModel)]="product.quantity" type="text" class="form-control" placeholder="Type to edit..."  /></div>
            <div><b><span>Description: </span></b><input [(ngModel)]="product.description" type="text" class="form-control" placeholder="Type to edit..."  /></div>
            <div id="button">
              <button type="button" class="btn btn-primary w-70" (click)="applyChanges()" ><i class="far fa-edit"></i> Edit product</button>
              <button type="button" class="btn btn-danger w-70" (click)="deleteProduct()" ><i class="fas fa-trash-alt"></i> Delete product</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>