.card {
  margin: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  // padding: 1em;
}

img {
  width: 100%;
  margin: 5px;
  box-shadow: 1px 1px 20px grey;
  border-radius: 50%;
  animation: example 1s linear 0s infinite alternate;
}

#details {
  width: 70%;
  margin: 3em 0 0 1em;
  div {
    margin-top: 1em;
  };
  h1 {
    font-family: "Times New Roman", Times, serif;
  }
}

@keyframes example {
  0%   {box-shadow: 1px 1px 0px black;}
  25%  {width: 1px 1px 20px black;}
  50%  {width: 1px 1px 40px black;}
  100% {width: 1px 1px 80px black;}
}


#buttons {
  margin-top: 6em !important;
  button {
    width: 40% !important;
    display: inline-block !important;
    margin: 0 5% 0 5%;
  }
}


i {
  margin-right: 5px;
  color: grey;
}

#button{
  margin-top: 5em !important;
  button {
    width: 50% !important; 
    margin: auto; 
    i {
      color: white;
    }
  }
}
